body{
	background-color: #E0E0E0;
	margin: 0 auto;
	padding:0 auto;
}
table{
	width: 500px ;
	margin: 15px;
	padding: 20px;
	border: 1px solid #66ccff;
	background-color: #FFFFFF;
}
table .top-title{
	text-align: center;
	padding-bottom: 10px;
}
table>th{
	font-weight: normal;
	text-align: right;
}
table>input{
	width: 180px;
	border: 1px solid #CCCCCC;
	height: 20px;
	padding-left:4px;
}
table .button{
	background-color: #0099ff;
	border: 1px solid #66ccff;
	color: #FFFFFF;
	width: 80px;
	height: 25px;
	margin: 0 5px;
	cursor: pointer;
}
table .td-btn{
	text-align:center;
	padding-top:10px;
}
table .sex{width:50px;padding:10px;}
table .hobbys{width:15px;padding:5px;}
table .study{width:100px;}
table .blood{width:100px;}